.error-404 {
	min-height: 90vh;
	text-align: center;
	padding: 100px;
	width: 100%;
	position: relative;
	@extend .vert-center;
	.error-image-div {
		img {
			width: 100%;
			height: auto;
			max-width: 1200px;
		}
	}
}