footer {
	background-color: $blue;
	padding: 2em 0;

	.footer-social-bar {
		background-color: $red;
		padding: 2em 0;
		text-align: center;
		a {
			display: inline-block;
			color: white;
			font-size: 1.6em;
			margin: 0 1em;

			&:hover, &:focus {
				color: $darkblue;
			}
		}
	}

	.footer-logo {
		width: 80%;
		max-width: 200px;
		text-align: center;
		margin: 3em auto;
		img {
			width: 100%;
			height: auto;
		}
	}

	.disclaimer {
		max-width: 400px;
		margin: 0 auto 3em auto;
		font-size: .8em;
		color: white;
		a {
			color: $red;
		}
	}
}