// embed form styles
.signUp {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	background-color: rgb(35, 143, 184);

	.signUp__innerWrapper {
		height: 100%;
		max-width: 910px;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.signUp__innerWrapper__closeBtn {
			width: 20em;
			margin: 1em auto;
		}
	}

	.at-form {
		
	}
}

.footer {
 background-color: $light;
 color: white;
}

.footer__innerWrapper {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding: 2em 1em;
	max-width: 640px;
	max-height: 480px;
}

.footer__innerWrapper__topper {
	font-size: 1.2em;

	@media screen and (min-width: $sm) {
		padding: 0 4em;
	}
}

.footer__innerWrapper__buttons {
	margin: 2em 0;

	@media screen and (min-width: $xs) {
		margin: 4em 0;		
	}
	
	&__text {
		font-size: 1.2em;
		margin: .5em 0;
		p {
			margin: 0;
		}
	}

	.button {
		&--ios, &--android {
			width: 100%;
			margin: 5px 0 0 0;

			@media screen and (min-width: $xs) {
				width: calc(50% - 5px);
			}
		}
		&--ios {
			float: left;
		}
		&--android {
			float: right;
		}

		&--signUp {
			margin: 20px 0 0 0;
			width: 100%;
		}
	}
}

.footer__innerWrapper__disclaimer {
	p {
		font-size: .6em;
		margin: 2px 0;
	}
}
