// Banner Styles
.banner {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 999;
}

// control hide of banner on top slide
.banner__innerWrapper {
	opacity: 0;
}


.banner__innerWrapper {
	background-color: white;
	position: relative;
	display: flex;
	flex-direction: row;
	align-content: center;
	width: 100%;
	padding: 0 .5em;

	> div {
		width: calc(1/3 * 100%);
	}

	&__logo {
		img {
			max-height: 40px;
			width: auto;

			@media screen and (min-width: $sm) {
				max-height: 60px;
			}
		}
	}

	&__location, &__link {
		color: $highlight;
		font-weight: 400;
		font-size: 1em;

		@media screen and (min-width: $xs) {
			font-size: 1em;
		}
	}

	&__location {
		text-align: center;
	}

	&__link {
		text-align: right;
		display: table;
		padding: .5em 0 0 0;
		
		button {
			display: table-cell;
			vertical-align: middle;
			padding: 0em 1em;
		}
	}
}

.hero {
	background-color: white;
	position: relative;
}

.hero__innerWrapper {
	color: $medium;
	position: relative;
	z-index: 2;
}

.hero__innerWrapper__logo {
	max-width: 610px;
	width: 100%;
	position: relative;
	img {
		width: 100%;
		height: auto;
	}
}

.hero__innerWrapper__subtitle, 
.hero__innerWrapper__text {
	max-width: 480px;
}

.hero__innerWrapper__subtitle {
	h3 {
		margin: 1em 0;
	}
}

.hero__innerWrapper__text {
	p {
		margin: 0 0 2em 0;
	}
}

.hero__innerWrapper__buttons {
	max-width: 610px;
	width: 100%;
	button {
		width: 100%;
		margin: 5px 0;

	}

	@media screen and (min-width: $xs) {
		button {
			width: calc(50% - 20px);
			max-width: 290px;
		}

		:first-child {
			margin: 0 4px 0 0;
		}

		:nth-child(2) {
			margin: 0 0 4px 0;
		}
	}
}

.hero__background {
	position: absolute;
	z-index: 0;
	width: 45%;
	bottom: 0;
	right: 0;
	opacity: .8;
}
