// Fake ajax loader styles
.falseAjax {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: white;
	top: 0;
	left: 0;
	z-index: 999;

	svg {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 60%;
		height: auto;
		max-width: 200px;
	}
}

// Banner Styles
.banner {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 888;
}

// control hide of banner on top slide
.banner__innerWrapper {
	opacity: 0;
}

.banner__innerWrapper {
	background-color: white;
	position: relative;
	display: flex;
	flex-direction: row;
	align-content: center;
	width: 100%;
	padding: 0 .5em;

	> div {
		width: calc(1/3 * 100%);
	}
}

.banner__innerWrapper__location {
	text-align: center;
}

.banner__innerWrapper__logo img {
	max-height: 40px;
	width: auto;

	@media screen and (min-width: $sm) {
		max-height: 60px;
	}
}

.banner__innerWrapper__location, .banner__innerWrapper__link {
	color: $highlight;
	font-weight: 400;
	font-size: 1em;
}

.banner__innerWrapper__link {
	text-align: right;
	display: table;
	padding: .5em 0 0 0;
}

.banner__innerWrapper__link button {
	display: table-cell;
	vertical-align: middle;
	padding: 0em 1em;

	@media screen and (max-width: $xs) {
		padding: 0em .5em;
		font-size: 0.8em;
		min-width: 95%;
		i {
			display: none;
		}
	}
}

// Hero Styles
.hero {
	background-color: white;
	position: relative;
}

.hero__innerWrapper {
	color: $medium;
	position: relative;
	z-index: 2;
}

.hero__innerWrapper__logo {
	max-width: 610px;
	width: 100%;
	position: relative;
	img {
		width: 100%;
		height: auto;
	}
}

.hero__innerWrapper__subtitle, 
.hero__innerWrapper__text {
	max-width: 480px;
}

.hero__innerWrapper__subtitle {
	h3 {
		margin: 1em 0;
	}
}

.hero__innerWrapper__text {
	p {
		margin: 0 0 2em 0;
	}
}

.hero__innerWrapper__buttons {
	max-width: 610px;
	width: 100%;
	button {
		width: 100%;
		margin: 5px 0;

	}

	@media screen and (min-width: $xs) {
		button {
			width: calc(50% - 20px);
			max-width: 290px;
		}

		:first-child {
			margin: 0 4px 0 0;
		}

		:nth-child(2) {
			margin: 0 0 4px 0;
		}
	}
}

.hero__background {
	position: absolute;
	z-index: 0;
	width: 45%;
	bottom: 0;
	right: 0;
	opacity: .8;
}
