// Index stylesheet

.posts-container {
	@media screen and (min-width: $sm) {
		border-left: 2em solid $dark;
		border-top: 2em solid $dark;
		border-right: 2em solid $dark;
	}
	@media screen and (max-width: $sm) {
		border-left: .5em solid $dark;
		border-top: .5em solid $dark;
		border-right: .5em solid $dark;
	}
	padding-bottom: 1em;
}

.category-name {
	margin: 3em 0;
	padding-left: 2em; 
}

.display-posts {
	border-left: 4px solid $dark;
	width: 100%;
	max-width: 800px;
	@media screen and (min-width: $sm) {
		padding: 0 20px 0 20px;
		margin: 40px auto;
	}
	@media screen and (max-width: $sm) {
		padding: 0 5px 0 5px;
	}
}

.display-posts .article {
	margin: 0  0 6em 0;
	 a {
	 	color: $dark;
	 	text-decoration: none;
	 	p {
	 		color: $accent;
	 		margin: 1em 0 0 0;
	 		font-size: .8em;
	 	}
	 	h3 {
	 		margin: .1em 0;
	 	}
	 	&:hover, &:focus {
	 		color: $accent;
	 	}
	 }
	.excerpt {
		line-height: 1.5em;
 	}
	 .responsive-image {
	 	@extend .shadow;
	 }
	 .responsive-video {
	 	@extend .shadow;
	 }
}

// Post styles
.single-post-display {
	article {
		margin: 4em auto;
		max-width: 900px;
		.post-date {
	 		color: $accent;
	 		margin: 1em 0 0 0;
	 		font-size: .8em;
	 	}
	 	h3 {
	 		margin: .1em 0;
	 	}
	 	.content {
	 		margin-top: 4em;
	 	}
	 }
}

blockquote {
	border-left: 2px dashed $accent;
	padding: 0 0 0 1em;
	font-style: italic;
	p { line-height: 1.8em; }
	&:before {
		font-style: normal;
		content: '"';
		font-size: 4em;
		color: $accent;
	}
	&:after {
		font-style: normal;
		content: '"';
		font-size: 4em;
		color: $accent;
	}
}

article {
	ul, ol {
		margin: 0 0 0 2em;
		li {
			padding: 1em 0;
		}
	}
	a {
		color: $accent;
		text-decoration: none;
		&:hover, &:focus {
			color: $first;
		}
	}
}

// post navigation
nav {
	margin: 4em 0 2em 0;
	.screen-reader-text {
		text-align: center;
		font-size: 1em;
		font-weight: $fontreg;
		opacity: 0;
	}
	.nav-links {
		div {
			display: inline-block;
			width: 50%;
			a{
				text-decoration: none;
				color: $accent;
				&:hover, &:focus {
					color: $dark;
				}
				.nav {
					display: block;
					font-weight: $bold;
					font-size: 1.2em;
					opacity: 1;
				}
			}
		}
	}
}