// Front Page Topper

.homepage-topper {
	position: relative;
	.inner-wrapper {
		@media screen and (min-width: $sm) {
			padding: 100px 0 40px;
		}
		@media screen and (max-width: $sm) {
			padding: 50px 0;
		}
		.topper-text {
			max-width: 620px;
			margin: 0 auto;
			h2 {
				text-align: center;
				margin: 0 0 40px 0;
			}
			.introduction {

			}
		}
	}
}

.video-wrapper {
	max-width: 920px;
	@media screen and (min-width: $sm) {
		margin: 80px auto 80px auto;
	}
	@media screen and (max-width: $sm) {
		margin: 40px auto 20px auto;
	}
	.video-embed {
		@extend .responsive-video;
		@extend .shadow;
	}
}

// Create vertical split display boxes || Right aligned
.greenbar {
	content: "";
	width: 40%;
	height: 4px;
	background-color: $third;
}

.vertical-split-boxes {
	display: table;
	height: 600px;
	color: $white;
	background-color: $first;
	.first, .second {
		position: relative;
		@media screen and (max-width: $sm) {
			display: table-row;
			height: 50%;
		}
		@media screen and (min-width: $sm) {
			display: table-cell;
			height: 100%;
		}
	}
	.first {
		background-color: $first;
		.content {
			height: 100%;
			width: 100%;
			position: relative;
			.text {
				@extend .abs-center;
				max-width: 300px;
				width: 90%;
			}
		}
	}
	.second {
		.split-vertical {
			height: 50%;
			position: relative;
			background-position: center;
			background-size: cover;
				.content {
					color: $white;
					text-decoration: none;
					@extend .abs-center;
					max-width: 400px;
					z-index: 10;
					a {
						color: $white;
						text-decoration: none;
					}
					p {
						font-size: .9em;
					}
					@media screen and (min-width: $sm) {
						max-width: 400px;
						width: 90%;
					}
					@media screen and (max-width: $sm) {
						width: 90%;
					}
				}
			
		}
	}
}

.social-section-home {
	.content {
		a {
			.social-type {
				text-align: center;
				i {
					font-size: 1.8em; 
				}
			}
			.date {
				text-align: center;
				font-size: .6em;
				font-weight: bold;
			}
		}
	}
}

.social-type {
	font-weight: bold;
	font-size: 1em;
}

.more-link {
	@extend .center-align;
	a {
		&:after {
			font-family: FontAwesome;
			content: " \f054";
		}
	}
	@media screen and (min-width: $sm) {
		bottom: 40px;
	}
	@media screen and (max-width: $sm) {
		bottom: 10px;
	}
}

// Media fix for issue section
#policy-section {
	#policy-flip-small {
		@media screen and (max-width: $sm) {
			display: table-row;
		}
		@media screen and (min-width: $sm) {
			display: none;
		}
	}
	#policy-flip-large {
		@media screen and (max-width: $sm) {
			display: none;
		}
		@media screen and (min-width: $sm) {
			display: table-cell;
		}
	}
}

// Big button styles

.large-button {
	height: 400px;
	position: relative;
	@media screen and (min-width: $sm) {
		height: 400px;
	}
	@media screen and (max-width: $sm) {
		height: 300px;
	}
	.inner-wrapper {
		.topper {
			p {
				text-align: center;
			}
		}
		.content {
			@extend .abs-center;
			a {
				text-decoration: none;
				&:hover, &:focus {
					color: $first;
				}
			}
			.big-button {
				margin: 0 auto;
				border: 4px solid $third;
				text-align: center;
				text-decoration: none;
				@extend .shadow;
				@extend .def-push;
				&:hover, &:focus {
					border: 4px solid $first;
					color: $first;
				}
				@media screen and (min-width: $sm) {
					width: 600px;
					border-radius: 60px;
				}
				@media screen and (max-width: $sm) {
					width: 300px;
					padding: 2px;
					border-radius: 60px;
				}
			}
		}
	}
}

// Controls the topper for both the button and the latest news
.topper {
	@extend .center-align;
	top: 40px;
	color: $third;
	font-size: 1.33em;
	@media screen and (max-width: $sm) {
		top: 10px;
	}
	@media screen and (min-width: $sm) {
		top: 40px;
	}
}

.latest-news {
	position: relative;
	background-color:  $first;
	color: $white;
	@media screen and (max-width: $sm) {
		height: 400px;
	}
	@media screen and (min-width: $sm) {
		height: 600px;
	}
	.inner-wrapper {
		.content {
			@extend .abs-center;
			@media screen and (min-width: $sm) {
				max-width: 600px;
				width: 90%;
			}
			@media screen and (max-width: $sm) {
				width: 90%;
			}
			a { 
				color: $white;
				text-decoration: none;
				&:hover, &:focus {
					color: $accent;
				}
				.article {
					max-width: 620px;
					.greenbar {
						@media screen and (max-width: $sm) {
							margin: 20px auto;
						}
						@media screen and (min-width: $sm) {
							margin: 40px auto;
						}
					}
					h2 {
						text-align: center;
						@media screen and (max-width: $sm) {
							margin: 20px 0 0 0;
						}
						@media screen and (min-width: $sm) {
							margin: 40px 0 0 0;
						}
					}
					.post-date {
						font-size: .8em;
						text-align: center;
						margin: 0 auto;
					}
				}
			}
		}
	}
}