.map-section {
	position: relative;

	.inner-wrapper {
		padding-top: 60px;
	}

	#map {
		height: 80vh;
		width: 100%;
		background-color: $darkblue;
		content: "";
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	}

	.map-description {
		max-width: 640px;
		margin: 60px auto;

		h2 {
			text-align: center;
		}
	}
}

.map-section-top-bar {
	content: "";
	height: 150px;
	background-color: $blue;
	position: absolute;
	z-index: -1;
	top: 0;
	width: 100%;
}

#latest-events {
	background-color: $blue;
	color: white;
	padding: 1em 0 4em 0;

	.title {
		text-align: center;
	}

	.events-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		position: relative;

		&:after {
			content: "";
			display: block;
			background-color: white;
			height: 80%;
			@extend .abs-center;
			width: 1px;

			@media screen and (max-width: $sm) {
				display: none;
			}
		}
	}

	.event {
		@media screen and (min-width: $sm) {
			width: 50%;
			margin: 2em 0;
			padding: 0 4em;
		} 

		@media screen and (max-width: $sm) {
			width: 100%;
			margin: 1em 0;
			padding: 0 2em;
		}

		h4 {
			margin: .2em 0;
		}
		a {
			color: $red;
			text-transform: uppercase;
			font-weight: bold;
			font-size: .8em;
			text-decoration: none;
			margin: 0;
		}
		p {
			margin: 0;
		}
	}
}