html {
	font-size: 16px;
	@media only screen and (max-width: $sm) {
		font-size: 14px;
	}
}

* {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

a {
	color: $second;
	&:hover, &:focus {
		color: $accent;
	}

}
::selection {
	background-color: $accent;
	color: $white;
}

body {
	font-family: $fontmain;
	font-weight: $fontreg;
	color: $dark;
}

p {
	font-weight: $fontreg;
	font-family: $fontmain;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $fontmain;
	font-weight: $bold;
}

strong {
	font-weight: $bold;
}

em {
	font-style: italic;
	font-weight: $italic;
}

mark {
	background-color: $accent;
}

i {
	font-style: italic;
	font-weight: $italic;
}


.more-link {
	a {
		text-decoration: none;
		font-weight: $bold;
		i {
			font-size: 1.5em;
			padding: 0px 0px 0px 10px;
		}
	}
}

.fill-total {
	height: 100%;
	width: 100%;
}

// Grid control

.container {
	width: 100%;
	margin: 0 auto;
}


.inner-wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
	height: 100%;
}

// extra styling

.shadow {
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.hide {
	display: none;
}

.visible {
	opacity: 1
}

.invisible {
	opacity: 0;
}

// Animation styling 

.ease {
	transition: 0.2s cubic-bezier(.31,.87,.73,.5);
}

.push-up {
	&:hover, &:focus {
		transform: translateY(-5px);
		z-index: 100;
		box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
	}
}

.def-push {
	@extend .push-up;
	@extend .ease;
}

/* Layout classes */
.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.vertical-align {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.center-align {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.abs-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

// Responsive media controls 
.responsive-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	background-color: $dark;
	iframe {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
	}
}

.responsive-image {
	position: relative;
	background-color: $dark;
	img {
		width: 100%;
		height: auto;
	}
}

// Style Guide

h1 {
	font-family: $fontmain;
	font-size: 2em;
	font-weight: bold;
}

h2 {
	font-family: $fontmain;
	font-size: 1.5556em;
	font-weight: bold;
}

h3 {
	font-family: $fontmain;
	font-size: 1.333em;
	font-weight: bold;
}

