// Page Header Styles
.main-page-content {
	margin: 100px auto;
	position: relative;
}

.sub-header {
	max-width: 620px;
	margin: 0 auto 100px auto;
	font-size: 1.3333em;
	font-weight: bold;
	color: #0d1634;
	p {
		font-weight: bold;
	}
}

.sub-header-module {
	@extend .sub-header;
}

.long-list, .full-width {
	max-width: 940px;
	margin: 40px auto;
	position: relative;
	width: 100%;
	ul, ol {
    		column-gap: 2em;
    		@media screen and (min-width: $sm) {
    			column-count: 3;
    		}
    		@media screen and (max-width: $sm) {
    			column-count: 2;
    		}
    		li {
    			margin: .5em 0;
    		}
	}
	ul {
		list-style: none;
		li {
			padding: 0 0 0 5px;
		}
	}
}

.size-thumbnail {
	max-width: 150px;  
	height: auto;
}

.size-medium {
	height: auto;
	@media screen and (max-width: $sm) {
		width: 100%;
	}
	@media screen and (min-width: $sm) {
		max-width: 100%; 
		min-width: 50%;
	}
}

.size-large {
	height: auto;
	@media screen and (max-width: $sm) {
		width: 100%;
	}
	@media screen and (min-width: $sm) {
		max-width: 100%; 
		min-width: 80%;
	}
}

img.size-full {
	width: 100%;  
	height: auto;
}

img.alignright { 
	@media screen and (max-width: $sm) {
		margin: 1em auto;
	}
	@media screen and (min-width: $sm) {
		float: right; 
		margin: 0 0 1em 1em; 
	}
}

img.alignleft { 
	@media screen and (max-width: $sm) {
		margin: 1em auto;
	}
	@media screen and (min-width: $sm) {
		float: left; 
		margin: 0 1em 1em 0; 
	}
}

img.aligncenter { 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
}

.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

.wp-caption-text {
	font-size: .8em;
}

.wp-caption {
	text-align: center;
	img {
		margin: 0 auto;
	}
}

// Cards Layout

.single-card {
	width: 100%;
	display: table;
	@extend .shadow;
	margin: 20px auto;
	padding: 40px;
	position: relative;
	.card-title {
		position: relative;
		padding: 0 10px;
		@media screen and (max-width: $sm) {
			display: table-row;
		}
		@media screen and (min-width: $sm) {
			height: 100%;
			width: 25%;
			display: table-cell;
			vertical-align: middle;
		}
		.card-image {
			overflow: hidden;
			position: relative;
			border-radius: 175px;
			@extend .shadow;
			margin: 0 auto;
			@media screen and (max-width: $md) {
				width: 150px;
				height: 150px;
			}
			@media screen and (min-width: $md) {
				width: 175px;
				height: 175px;
			}
			img {
				@extend .abs-center;
				height: 200px;
				width: auto;
			}
		}
		h3 {
			text-align: center;
			margin: 10px 0 10px 0;
			font-size: 1.2em;
		}
	}
	.card-content {
		position: relative;
		@media screen and (max-width: $sm) {
			display: table-row;
		}
		@media screen and (min-width: $sm) {
			height: 100%;
			width: 75%;
			display: table-cell;
			vertical-align: middle;
			border-left: 4px solid $third;
		}
		@media screen and (min-width: $sm) and (max-width: $md) {
			padding-left: 10px;
		}
		@media screen and (min-width: $md) {
			padding-left: 40px;
		}
	}
	.card-more {
	 	position: absolute;
	 	bottom: 10px;
	 	right: 10px;
	 	a {
	 		font-weight: bold;
	 		text-decoration: none;
	 		&:hover, &:focus {
	 			color: $first;
	 		}
			&:after {
				font-family: FontAwesome;
				content: " \f054";
			}
		}
	}
	.divide-null {
		background-color: $third;
		content: "";
		@media screen and (max-width: $sm) {
			display: table-row;
			height: 4px;
			width: 100%;
		}
		@media screen and (min-width: $sm) {
			height: 100%;
			width: 4px;
			display: table-cell;
			vertical-align: middle;
			margin: 0 30px;
		}
	}
}

// Post Navigation 

.post-navigation, .posts-navigation {
	@extend .container;
	padding: 40px 0;
	h2 {
		text-align: center;
		display: none;
	}
	.nav-links {
		@extend .inner-wrapper;
		display: table;
		div {
			display: table-cell;
			width: 50%;
			text-align: center;
			a {
				text-decoration: none;
			}
			.nav {
				font-weight: bold;
				font-size: .8em;
				color: $first;
			}
			.nav-title {
				margin-top: 20px;
				display: block;
				font-weight: bold;
			}
		}
		.nav-previous {
			.nav-title {
				&:before {
					font-family: FontAwesome;
					content: "\f053";
				}
			}
		}
		.nav-next {
			.nav-title {
				&:after {
					font-family: FontAwesome;
					content: " \f054";
				}
			}
		}
	}
}

.posts-navigation {
	.nav-previous {
			a {
				color: $first;
				font-weight: bold;
				&:hover, &:focus {
					color: $third;
				}
				&:before {
					font-family: FontAwesome;
					content: "\f053";
				}
			}
		}
		.nav-next {
			a {
				color: $first;
				font-weight: bold;
				&:hover, &:focus {
					color: $third;
				}
				&:after {
					font-family: FontAwesome;
					content: " \f054";
				}
			}
		}
}

// Post title control 
.posted-on {
	text-align: center;
	p {
		font-size: .8em;
		color: $third;
		font-weight: bold;
		margin: 5px auto;
	}
	margin: 0 auto 40px auto;
	.post-date {
		color: $first;
		font-weight: 400;
		font-size: 1em;
	}
}

.post-article {
	a {
		color: $first;
		text-decoration: none;
		&:hover, &:focus {
			color: $third;
		}
	}
}