$fontmain: 'Open Sans', sans-serif;
$displayfont: 'Open Sans', sans-serif;

$fontreg: 400;
$italic: 400i;
$bold: 700;

$white: #ffffff;
$dark: #000000;
$accent: #D0021B; // dark red
$first: #0d1634; // Dark Blue
$second: #4990e2; // ligth blue
$third: linear-gradient(135deg, rgba(208,2,26,1) 0%, rgba(208,2,26,0.83) 34%, rgba(255,0,60,0.51) 100%);

$xs: 400px;
$sm: 768px;
$md: 1000px;
$lg: 1300px;
$xlg: 1600px;